/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*HEADER STYLES*/
.logo-img {
  width: 90px;
  display: inline-block;
}

.logo-text {
  font-family: 'satisfy', cursive;
  color: #f37972; /*base orange*/
  display: inline-block;
}

.flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/*HERO STYLES*/
.hero {
  background-image: url(../img/hero.jpg);
  height: 350px;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
}

.white-text {
  color: #FFF;
}

.hero .white-text {
  font-size: 2em;
}

/*FEATURED SECTION STYLES*/
.thumbnail {
  padding: 8px 12px;
  background-color: #EDF1F4; /* light grey */
}
